/* Search Container */
.tr-search-filters {
  display: none;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
  width: 100%;
  margin: 8px 0;
  padding: 16px;
  background-color: white;
  border-radius: 16px;
}

/* Filter Groups */
.tr-filter-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 8px;
}

.tr-filter-group label {
  font-weight: bold;
}

.tr-filter-group select {
  max-width: none !important;
  width: 100% !important;
}

.tr-field-group {
  display: flex;
  width: 100%;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}

.tr-field-group input[type="radio"] {
  margin: 0;
}

/* Action Buttons */
.tr-search-actions {
  display: flex;
  width: 100%;
  justify-content: end;
}

/* Form Elements */
.tr-filter {
  display: flex;
  padding: 6px 12px;
  border: 1px solid #ddd;
}

.tr-date-inputs,
.tr-range-inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tr-range-inputs select {
  width: auto;
}

/* Table Navigation */
.tr-table-container .tablenav .actions {
  display: contents;
}

.tr-table-container .tablenav {
  gap: 8px;
}

/* Search Toggle */
.tr-search-filters {
  display: none;
}

.search-toggle-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

#search-toggle:checked ~ .tr-search-filters {
  display: grid !important;
}

/* Table Tags and Labels */
.tr-table-tag {
  color: rgb(125, 154, 162);
  font-weight: bold;
}

.tr-check {
  color: green;
  font-weight: bold;
}

.tr-no-data {
  color: rgb(165, 70, 70);
  font-weight: bold;
}

.tr-warning {
  color: rgb(212, 198, 119);
  font-weight: bold;
}
